<div class="nav-wrapper position-relative">
	<ul class="nav nav-pills nav-fill flex-column flex-md-row">
		<li class="nav-item">
			<a onclick="Pagina.rota('dashboard')" class="nav-link mb-2 mb-sm-3 mb-md-0"><span
					class="material-icons icone-menu mr-2">home</span>Dashboard</a>
		</li>
		<li class="nav-item">
			<a  onclick="Pagina.rota('instancias')" class="nav-link  mb-2  mb-sm-3 mb-md-0"><span
					class="material-icons  icone-menu mr-2">chat</span>WhatsApp</a>
		</li>
		<li class="nav-item">
			<a class="nav-link mb-2  mb-sm-3 mb-md-0" href="#"><span
					class="material-icons icone-menu mr-2">schedule_send</span>Campanhas</a>
		</li>
		<li class="nav-item">
			<a class="nav-link mb-2  mb-sm-3 mb-md-0" href="#"><span
					class="material-icons icone-menu mr-2">label</span>Tags</a>
		</li>
		<li class="nav-item">
			<a class="nav-link mb-2 mb-sm-3 mb-md-0" href="#"><span
					class="material-icons icone-menu mr-2">contact_page</span>Contatos</a>
		</li>



	</ul>
</div>


<root-home> </root-home>