<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Pomba</title>
  <link rel="stylesheet" href="./css/neumorphism.css" />
  <link rel="stylesheet" href="./css/google.css" />
</head>

<body>

  <app-root> </app-root>

</body>

<script src="./js/jquery.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="../src/Auth.js"></script>


<script>
  // const App = require("../src/App");

  window.addEventListener('load', async function () {

    await Auth.startSessao();

  });


  window.addEventListener('popstate', async function () {
    console.info("OK");
  });


</script>

</html>