<div class="h-100 d-flex align-items-center justify-content-center py-5">
	<div class="col-5" style="max-width: 450px;">
		<div class="card bg-primary shadow-soft border-light py-2">
			<div class="card-body text-center text-md-left">
				<div class="card-header text-center pb-0">
					<h1 class="mb-0 h5">Login</h1>
				</div>
				<div class="card-body">
					<form>
						<div class="form-group">
							<div class="input-group mb-4">
								<div class="input-group-prepend">
									<span class="input-group-text">
										<span class="material-icons">password</span>
								</div>
								<input id="senha" class="form-control" name="senha" placeholder="Sua senha"
									type="password" required>
							</div>
							<button onclick="Auth.login()" type="button" class="btn">Entrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>